aniso8601==10.0.1
blinker==1.9.0
cffi==2.0.0
click==8.3.1
cryptography==41.0.7
Flask==3.0.0
Flask-Cors==4.0.0
Flask-RESTful==0.3.10
greenlet==3.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
pycparser==2.23
PyJWT==2.8.0
python-dotenv==1.0.0
pytz==2025.2
six==1.17.0
SQLAlchemy==2.0.21
typing_extensions==4.15.0
Werkzeug==3.1.4
