SECRET_TOKEN_KEY=
APP_SECRET_KEY=

# Fernet encryption key
# Generate using Python shell:
# >>> from cryptography.fernet import Fernet
# >>> Fernet.generate_key()
FERNET_KEY=your-generated-fernet-key

DEFAULT_ADMIN_USERNAME=
DEFAULT_ADMIN_PASSWORD=
DEFAULT_ADMIN_EMAIL=
