@import "tailwindcss";

.input {
  @apply py-1.5 px-3 border border-gray-400 shadow-2xs rounded-lg  focus:border-blue-500 focus:ring-blue-500;
}

.btn {
  @apply border-black border rounded-md inline-flex items-center justify-center
  py-3 px-7 text-center text-base font-medium self-baseline-last my-4 cursor-pointer
}
